* {
    margin: 0;
    padding: 0;

}

.header {
    background: rgba(0, 0, 100, 0.4);
    height: 100vh;
    
}

.video-background {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}
/* Handles the aspect ratio */
@media (min-aspect-ratio:16/9) 
{
    .video-background {
    width: 100%;
    height: auto; 
    }
}

@media (max-aspect-ratio:16/9) 
{
    .video-background {
    width: auto;
    height: 100%; 
    }
}
.thankyou-msg {
    position: relative;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    color: #fff;
    top: 20px;

}
.thankyou-msg h1 {
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 5px;
    padding: 10px;
}

.btn  {
    font-size: 18px;
    color: #fff;
    margin: 5px;
    padding: 5px 22px;
    text-decoration: none;
    border: 1px solid #8c9b9e;
    border-radius: 30px;
}

.btn-home  {
    background: rgba(62, 106, 116, .8);
}

.btn-contact {
    background: rgba(62, 106, 116, .8);
}
.video {
    position: absolute;
    top: 300px;
    left: 345px;
    width: auto;
    
    

}